.App {
    display: grid;
    height: 100%;
    &--grid-1 {
        grid-template-areas: 
            "display"
            "menu"
        }
        grid-template-rows: 2fr 4fr;

        background-color: rgb(31, 31, 31);
}

